.hotel-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  .hotel-show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    // border: 1px solid #000;
    border-radius: 5px;

    .show-content {
      display: flex;
      justify-content: space-between;
      flex: 1;
      // padding-right: 24px;
      border-bottom: 1px solid #d2d2d2;
      padding-bottom: 16px;
      .hotel-left {
        display: flex;
        flex-direction: row;
        .desc {
          margin-left: 16px;
          .hotel-title,
          .hotel-en {
            font-weight: 800;
            font-size: 24px;
          }
          .hotel-far-label {
            background-color: rgba($color: #000000, $alpha: 0.5);
            color: #fff;
            margin-right: 8px;
          }
          .built-in {
            margin-top: 10px;
          }
        }
      }
    }
    .pay {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 20px;
      height: 60px;
    }
  }
}
