.header {
  position: relative;
  width: 100vw;
}

.nav {
  top: 0;
  left: 0;
  position: fixed;
  min-width: 100vw;
  background-color: #fff;
  margin: 0 auto;
  border-top: 2px solid #000;
  border-bottom: 2px solid #eee;
  z-index: 999;
}

.logo {
  align-items: flex-start;
  align-self: flex-start;
  height: 148px;
}
.nav-list {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  justify-content: flex-end;

  li {
    cursor: pointer;
  }
  li:hover {
    background-color: #eee;
  }
}
.nav-item {
  display: flex;
  justify-content: center;
}
.item-wrapper {
  display: flex;
}
.nav-left {
  display: flex;
  visibility: visible;
  height: 138px;
  background-color: #fff;
  align-items: flex-end;
}
.nav-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
.nav-order {
  display: flex;
  flex-direction: row;
  .order-item {
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    transition: width 0.3s ease-in-out;
  }
  li span:hover {
    padding: 4px;
    border-color: #000;
  }
  li span {
    padding: 4px;
    border-bottom: 2px solid rgba($color: #000000, $alpha: 0);
  }
}
.list-item {
  padding: 12px;
}
.ml-3 {
  margin-left: 3px;
}
