<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cal List</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>valueA</th>
                <th>valueB</th>
                <th>result</th>
            </tr>
        </thead>
            {% for item in data %}
            <tr>
                <td>{{item.valueA}}</td>
                <td>{{item.valueB}}</td>
                <td>{{item.result}}</td>
            </tr>
            {% endfor %}
    </table>
</body>
</html>